@import "../../styles/global.scss";

.box {
  max-width: 292px;
  width: 100%;
  padding: 20px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  @include flex(center, flex-start, 18px, unset, column, nowrap);
  .title {
    font-size: 20px;
    color: #3d445c;
    font-weight: bold;
    font-family: font;
  }
  .text {
    margin-bottom: 20px;
    color: #858ead;
    font-size: 16px;
    font-family: font;
  }
}
