.mainBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  .heading {
    display: grid;
    grid-template-columns: 50px 150px 180px 180px 180px 130px;
    margin-bottom: 40px;
    .headingP{
        font-weight: 700;
        color: orange;

    }
  }
  .box {
    display: grid;
    grid-template-columns: 50px 150px 180px 180px 180px 130px;
    padding: 20px;
    border: 3px solid rgb(253, 184, 80);
    border-radius: 30px;
    margin: 5px 0px;
    .boxItems{
        cursor: pointer;
    }
  }
}

.red {
    background-color: red;
    display: grid;
    grid-template-columns: 50px 150px 180px 180px 180px 130px;
    padding: 20px;
    border: 3px solid rgb(253, 184, 80);
    border-radius: 30px;
    margin: 5px 0px;
}