.mainTitle {
  display: grid;
  grid-template-columns: 200px 160px 160px 160px 160px 160px;
  padding: 30px 0px;
  margin: 5px;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-radius: 50px;
  
  .titleP{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  .name{
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap: 5px;
  }
}
