.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 350px;
  min-width: 350px;
  border: 2px solid transparent;
  padding: 20px;
  align-items: center;
  height: 400px;
  justify-content: flex-end;
  border-radius: 30px;
  &:hover {
    border: 2px solid #d9aba2;
  }
  .title {
    text-align: center;
    height: 100px;
  }
  img {
    max-height: 200px;
    max-width: 150px;
  }
}
