.addUser {
  padding: 30px;
  .form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    .match {
      color: rgb(83, 82, 82);
      font-size: 10px;
      margin-bottom: 10px;
      position: absolute;
    }
    .name {
      right: 420px;
      top: 5px;
    }
    .sName {
      right: 408px;
      top: 45px;
    }
    .age {
      right: 532px;
      top: 86px;
    }
    .text {
      padding: 5px 10px;
      border-radius: 30px;
      border: 1px solid transparent;
      background-color: rgb(253, 247, 234);
      transition: all, 0.5s;
      &:hover {
        border: 1px solid orange;
      }
    }
    .label {
      padding: 7px 14px;
      background-color: rgb(242, 240, 236);
      color: orange;
      border-radius: 30px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.05);
      }
      .file {
        display: none;
      }
    }
    .submit{
        padding: 7px 14px;
        border-radius: 30px;
        border: 1px solid orange;
        background-color: transparent;
        transition: all 0.5s;
        
        &:hover {
          background-color: rgb(243, 211, 151);
        transform: scale(1.05);
      }
    }
  }
}
