@import '../../styles/global.scss';

.boxs2 {
    @include flex(center, center, 20px, unset, column, nowrap);
    padding: 38px 0px;
  }

.boxes .boxs2:nth-child(odd) {
    background-color: #ffffff;
    p {
      color: #2947a9;
      font-size: 20px;
      font-family: font;
      font-weight: 400;
    }
  }
  .boxes .boxs2:nth-child(even) {
    background-color: #2947a9;
    p {
      color: #ffffff;
      font-size: 20px;
      font-family: font;
      font-weight: 400;
    }
  }