.mainFooter{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    background-color: rgb(40, 39, 39);
    padding: 10px 20px;
    position: fixed;
    width: 100vw;
    bottom: 0px;
    img {
        max-width: 40px;
    }
}
