@import "../../styles/global.scss";

.mainS1 {
  padding-top: 96px;
  padding-bottom: 124px;
  @include flex(center, center, 50px, unset, column, nowrap);
  p.mainTitle {
    font-size: 36px;
    color: #292e3d;
    font-family: font;
    font-weight: bold;
  }
  .boxes {
    @include flex(center, center, unset, 66px, unset, nowrap);
  }
  
}
