ul {
  display: flex;
  justify-content: space-around;
  padding: 4px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
  li {
    padding: 15px 100px;
    border-radius: 50px 50px 0px 0px;
    cursor: pointer;
    transition: all 0.8s;
  }
}

.liSelected {
  background-color: rgb(252, 181, 40) !important;
}
