@import "../../styles/global.scss";

.navMain {
  padding: 16px 112px;
  @include flex(space-between, center, unset, unset, unset, nowrap);
  .logo {
    @include flex(center, center, unset, 6px, unset, nowrap);
    p {
      font-size: 30px;
      color: #2947a9;
      font-weight: 600;
      font-family: font;
    }
  }
  ul {
    @include flex(flex-end, center, unset, 50px, unset, nowrap);
    list-style-type: none;
    .orange {
      color: #f9995d;
    }
    a {
      text-decoration: none;
      color: #14171f;
    }
  }
}
